<Sysmon schemaversion="4.30">
    <HashAlgorithms>md5,sha256,IMPHASH</HashAlgorithms>
    <CheckRevocation/>

    <EventFiltering>
        <ProcessCreate onmatch="include">
            <Image condition="contains">csc.exe</Image>
        </ProcessCreate>

        <RuleGroup groupRelation="and">
	   <RegistryEvent onmatch="include">
              <TargetObject condition="contains">SYSTEM\CurrentControlSet\Services</TargetObject>
              <Image condition="contains">csc.exe</Image>
              <EventType condition="is">CreateKey</EventType>     
              <EventType condition="is">DeleteKey</EventType>  
        </RegistryEvent>
    </RuleGroup>
    </EventFiltering>
</Sysmon>

